* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
}

.auth-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;

    background:
        linear-gradient(
            rgba(5, 20, 45, 0.78),
            rgba(8, 35, 75, 0.85)
        ),
        url("https://images.unsplash.com/photo-1554068865-24cecd4e34b8?auto=format&fit=crop&w=2000&q=85");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.auth-container {
    width: 100%;
    max-width: 450px;
}

.auth-card {
    background: rgba(255, 255, 255, 0.97);
    padding: 40px;
    border-radius: 18px;

    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.3);
}

.auth-card h1 {
    text-align: center;
    color: #172033;
    font-size: 34px;
    margin-bottom: 25px;
    font-weight: 800;
}

.auth-card h1 span {
    color: #1677ff;
}

.auth-card h2 {
    text-align: center;
    color: #172033;
    font-size: 27px;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #777;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 28px;
}

.auth-card label {
    display: block;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 7px;
}

.auth-card input {
    width: 100%;
    padding: 13px 14px;
    margin-bottom: 18px;

    border: 1px solid #d6dce5;
    border-radius: 8px;

    font-size: 14px;
    outline: none;

    transition: 0.3s;
}

.auth-card input:focus {
    border-color: #1677ff;
    box-shadow: 0 0 0 3px rgba(22, 119, 255, 0.12);
}

.auth-card button {
    width: 100%;
    padding: 14px;

    border: none;
    border-radius: 8px;

    background: #1677ff;
    color: white;

    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
    transition: 0.3s;
}

.auth-card button:hover {
    background: #005bd1;
    transform: translateY(-2px);
}

.bottom-text {
    text-align: center;
    margin-top: 22px;
    color: #666;
    font-size: 14px;
}

.bottom-text a {
    color: #1677ff;
    text-decoration: none;
    font-weight: 700;
}

.bottom-text a:hover {
    text-decoration: underline;
}

.home-link {
    display: block;
    text-align: center;
    margin-top: 20px;

    color: #555;
    text-decoration: none;
    font-size: 14px;
}

.home-link:hover {
    color: #1677ff;
}

.auth-button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 13px;
    margin-top: 15px;
    border-radius: 8px;
    background: #1769e0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.auth-button:hover {
    background: #0d4fae;
}

.secondary-button {
    background: #16a085;
}

.secondary-button:hover {
    background: #117864;
}

.small-text {
    margin-top: 20px;
    font-size: 13px;
    color: #777;
}